name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  # 设置 Docker Hub 仓库名称
  DOCKER_HUB_REPO: hswz/tingtingmusic
  # 设置版本号
  VERSION: latest
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
